@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: 
    rgba(0, 0, 0, 0.295);
}
.login{
    background-color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.login h1{
    text-align: center;
    font-family: Nunito;
}
.inp{
    display: flex;
    flex-direction:column;
    gap: 1rem;
}

.inp input{
    border: none;
    border-bottom: 3px solid black;
    outline: none;
    font-size: 18px;
    font-family: Nunito;
}
.inp label{
    font-family: Nunito;
    color: rgba(0, 0, 0, 0.667);
    font-size: 18px;
}
.login button{
    background-color: orange;
    padding: 8px 0;
    border: none;
    color: white;
    font-size: 18px;
    font-family: Nunito;
    font-weight: 700;
    border-radius: 10px;
}

.box{
    display: flex;
    justify-content: space-between;
}
.box a{
    font-size: 12px;
    text-decoration: none;
    font-family: Roboto;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.icons i{
    font-size: 25px;
}
.pbox{
    position: relative;
}
.pbox i{
    position: absolute;
    right: 0;
    font-size: 13px;
}
.login button,.icons i{
    transition: 0.5s;
}
.login button:hover, .icons i:hover{
    transform: scale(1.1);
}
.box a:hover{
    text-decoration: underline;
}